@{
    string title = ViewBag.Title;
}

<table>
    <caption>
        @title
    </caption>
    <thead>
        <tr>
            <th scope="col">День</th>
            <th scope="col">Утро (08:00 - 12:00)</th>
            <th scope="col">День (12:00 - 17:00)</th>
            <th scope="col">Вечер (17:00 - 21:00)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Пн</td>
            <td>Йога / Пилатес</td>
            <td>Суставная гимнастика</td>
            <td>Силовая (Body Pump) / Зумба</td>
        </tr>
        <tr>
            <td>Вт</td>
            <td>Cycle (велотренажеры)</td>
            <td>Pilates / Stretch</td>
            <td>Функциональный тренинг / HIIT</td>
        </tr>
        <tr>
            <td>Ср</td>
            <td>Здоровая спина</td>
            <td>ABS + Stretch (пресс/растяжка)</td>
            <td>Силовая (Upper Body)</td>
        </tr>
        <tr>
            <td>Чт</td>
            <td>Йога / Пилатес</td>
            <td>Аква-аэробика</td>
            <td>Танцевальные классы </td>
        </tr>
        <tr>
            <td>Пт</td>
            <td>Pilates</td>
            <td>TONING (тонус)</td>
            <td>Функциональный тренинг (Circuit)</td>
        </tr>
        <tr>
            <td>Сб</td>
            <td>Йога / Пилатес</td>
            <td>Аква-аэробика</td>
            <td>Сайкл (Cycle)</td>
        </tr>
        <tr>
            <td>Вс</td>
            <td>Растяжка / Медитация</td>
            <td>-</td>
            <td>-</td>
        </tr>        
    </tbody>
</table>

<style>
    table{
        border-collapse: collapse;
        border: 2px solid currentColor;
    }

    th,
    td {
        border: 1px solid rgb(160 160 160);
        padding: 8px 10px;
    }

    caption{
        caption-side: top;
        padding: 10px;
        font-weight: bold;
    }
</style>
